
<body *ngIf="dataBus.layoutMode">
<!--<div class="green-background"></div>-->
<div class="wrap container">
  <section class="right">
    <div class="chat-head" *ngIf="dataBus.hideHeader_Switch" >
      <img id="profilepicture"  alt="profilepicture" src="{{contact_data?.profileURL}}">
      <div class="chat-name">
        <h1 class="font-name ">{{contact_data?.contactName}}</h1>
        <p class="font-online ">{{contact_data?.onlineStatus}}</p>
      </div>
<!--      <i class="fa-solid fa-magnifying-glass"></i>-->
<!--      <i class="fa-solid fa-house"></i>-->
      <div class="chat-head-img">
        <i class="fa-solid fa-video mx-2 " ></i>
        <i class="fa-solid fa-magnifying-glass mx-2"></i>
        <i class="fa-solid fa-ellipsis-vertical mx-2  "></i>
      </div>
    </div>
    <div class="wrap-chat">
      <div class="chat " *ngFor="let msg of dataBus.getMessages()">
        <app-chat-bubble *ngIf="msg.user === 'R'" [message]="msg" ></app-chat-bubble>
        <app-chat-bubble *ngIf="msg.user === 'S'" [message]="msg" ></app-chat-bubble>
      </div>
      <div class="information"></div>
    </div>
    <div *ngIf="dataBus.hideFooter_Switch" class="wrap-message">
      <i class="fa fa-smile-o fa-lg" aria-hidden="true"></i>
      <div class="message">
        <input type="text" class="input-message" placeholder="Type a message">
      </div>
      <i class="fa-solid fa-microphone  p-2 m-2  d-flex justify-content-center aling-item-center" style="font-size: 20px; color: black; height: 40px; width: 40px; margin: auto"></i>
    </div>
  </section>
</div>
</body>



